# Python (archivos compilados y caché)
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Docker (si tienes logs locales o volúmenes)
*.log
.docker/

# Archivos del Sistema / Editores
.DS_Store
.vscode/
.idea/
